*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    height: 70px;
    background-color:#BE3144 ;
}
#nav{
    display: flex;
    margin-right: 2.3em;
}
#nav li{
    padding:20px 40px;
    list-style: none;
}
#nav li:hover{
    background-color: #87ceeb;
}
#nav li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    align-self: center;
    font-family: Roboto;
}
#about{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#about header{  
    color: whitesmoke;
    font-size: 6vw;
    font-family: Roboto;
}
#Work{
	padding: 20px 0;
	background-color:#45567d;
	height: 100%;
}
#Work #heading{
	margin: 0 auto;
    padding:20px 0; 
    border-bottom-style: solid; 
    border-bottom-width: 2px; 
    width: fit-content; 	
	font-size: 3.5vw;
	color: white;
	text-align: center;
}
.container{
	width: 100%;
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
}
.card-item{
	max-width: 400px;
	background-color: #333333;
	margin:20px;
}
#projectCardImg{
	width: 100%; 
	height: 300px;
}
#web{
    color: maroon;
    font-size: 3vw;
    font-style: italic;
    font-family: Roboto;
    font-weight: 300;
}
#projectCard a #projectCardHeader,#projectCard a{
	font-size: 1.4em;
	text-decoration: none;
	color: white;
	padding: 20px 0;
}
#projectCardHeader{
	display: flex;
	justify-content: center;
}
span{
	display: none;
	transition: color 0.5s;
}
.card-item:hover span{
	display: block;
	transition-timing-function: linear;
	color:#FF1493;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    border: none;
    padding: 10px;
    font-weight: 500;
    font-size: 1.1em;
    background-color: #303841;
    color: white;
    transition:background-color 0.3s;
    width: auto;
    
}
button code{
    margin: 0;
    font-size: 1.2em;
    padding-left: 0;
    font-weight: 900;
    transition: padding-left 0.3s;
}
button:hover{
    background-color: #be3144;
}
button:hover code{
    padding-left: 10px;
}
#Contact{
    text-align: center;
    padding: 80px 0;
    color: white;
    background-color: #303841;
    font-family: "Open sans";
}
#Contact header{
    font-size: 3.5em;
    padding: 10px;
    font-weight: 400;
}
#Contact subheader{
    font-size: 1.3em;
    font-style: italic;
    font-weight: 100;
}
#contact-list{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: 30px auto;
    height:  80px;
    justify-content: space-between;
    align-items: center;
}
#contact-list li,#contact-list li a{
    list-style: none;
    text-decoration: none;
    font-size: 25px;
    color: white;
}
.fab ,.fas{
    padding-right: 10px;
}
#Contact #contact-list  li{
    transition: 0.4s all;
}
#Contact #contact-list  li:hover,#Contact a:hover{
    transform:translateY(30%);
    color:orange;
}
hr{
    border: 2px solid #BE3144;
}
footer{
    padding:50px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
}
footer div{
    margin:10px 0;
}
@media screen and (max-width:750px){
    #about header{  
        font-size: 10vw;
    }
    #web{
        font-size: 6vw;
    }
    #Work #heading{
        font-size: 5vw;
        color: white;
        text-align: center;
    }
    #contact-list{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
    }
    #contact-list  li{
        padding: 20px;
    }
    button{
        width: 50%;
        box-shadow: 2px 3px black;
        font-size: 1.4em;
    }
    #Contact header{
        font-size: 8vw;
    }
}